<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="container">

    <div id="pagination">
    <div id="controlButtons">
    <i *ngIf="personNumber != 0" (click) = "previousPerson()" class="fa fa-angle-left moveButton"></i>
    <i id="counter">&nbsp; {{personNumber + 1}}- {{people.length}} &nbsp;</i>
    <i *ngIf="personNumber != people.length-1" (click) = "nextPerson()" class="fa fa-angle-right moveButton"></i>
    </div>
    <br><br>

    <i *ngFor="let number of numbers" class="pageNumbers" [ngStyle]="{color: personNumber == number ? '#1B0FA2':'black'}" class="pageNumbers" (click) = "personByNumber(number)">{{number + 1}}</i>&nbsp;&nbsp;
    

    <br><br>
    <p>First Name: {{person.firstName}}</p>
    <p>Last Name: {{person.lastName}}</p>
    <p>Age: {{person.age}}</p>
    <p>Email: {{person.email}}</p>
    </div>
    </div>
</body>
</html>



