<div class="frame" #scrollframe>
    <div *ngFor="let event of events; let i = index" [ngStyle]="{'border-color': counter == i ? 'gray':'white'}" class="event row">
        <i *ngIf="event.type == 3" class="fa fa-mouse-pointer icon"></i>  
        <i *ngIf="event.type == 4" class="fa fa-window-maximize icon"></i>   
        <div *ngIf="event.type == 3 && event.data.source == 2 && event.data.type == 2" class="col-sm"><p class = "eventContent">Click</p></div>        
        <div *ngIf="event.type == 4" class="col-sm"><p class = "eventContent">Visit page event</p></div>                                      
        <div *ngIf="event.type == 3 || event.type == 4" class="col-sm"><p class = "eventContent">{{event.type}}</p></div>
        <div class="col-sm"><p class = "eventContent">{{time[i]}}</p></div>
        <div class="col-sm"><p class = "eventContent">{{duration[i]}}</p></div>
  </div>
</div>

<button (click) = "autoScrolling()" id="playButton">Play</button>